* {
  box-sizing: border-box; }

html {
  font-size: 16px; }

/* Responsive images */
img {
  max-width: 100%; }

/* ---------------------------------------- */
h1,
h2,
h3,
h4 {
  font-weight: 600; }

h1 {
  font-size: 2.5rem;
  letter-spacing: 12px;
  letter-spacing: 0.8rem; }

.loremIpsum {
  font-size: 1.75em;
  font-weight: 300;
  text-transform: uppercase; }

.Orange {
  font-weight: bold;
  color: #F36819; }

.Balck {
  color: #283647; }

.header2 {
  font-size: 1.75em;
  color: #F36819; }

.header3 {
  font-size: 20px;
  font-size: 1.25em;
  color: #F7931D;
  letter-spacing: 2px; }

.lorem {
  font-size: 14px;
  font-size: 0.875em;
  line-height: 1.25em; }

.lorem159 {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 3.438em;
  color: #283647; }

/* ---------------------------------------- */
header {
  background-repeat: no-repeat;
  background-size: cover; }

/* //---------------------------------------- */
button {
  color: white;
  background: -moz-linear-gradient(left, #F36819 0%, #ffb449 100%);
  background: -webkit-linear-gradient(left, #F36819 0%, #ffb449 100%);
  background: linear-gradient(to right, #F36819 0%, #ffb449 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$orangeColor', endColorstr='$lightOrangeColor',GradientType=0 );
  width: 215px;
  height: 40px;
  font-size: 1em;
  letter-spacing: 2px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.55);
  transition: all 0.3s ease-in-out; }

button:hover {
  background: linear-gradient(to right, #ffb449 0%, #F36819 100%);
  color: white;
  font-weight: 600; }

@media only screen and (max-width: 560px) {
  button {
    width: 20%;
    font-size: 0.7em; } }
/* //---------------------------------------- */
form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  font-size: 0.625em;
  white-space: pre-wrap; }

textarea {
  width: 100%;
  display: block; }

input,
textarea {
  border: none;
  border-radius: 0.313em;
  margin-bottom: 0.75em;
  margin-bottom: 0.8rem;
  padding: 0.625em 0.625em;
  outline: 0; }

::-webkit-input-placeholder {
  color: #7c878e;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  letter-spacing: 0.05rem;
  font-size: 12.299px;
  font-size: 0.82rem;
  font-weight: 600; }

-moz-placeholder {
  /* Firefox 18- */
  color: #7c878e;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  letter-spacing: 0.05rem;
  font-size: 12.299px;
  font-size: 0.82rem;
  font-weight: 600; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #7c878e;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  letter-spacing: 0.05rem;
  font-size: 12.299px;
  font-size: 0.82rem;
  font-weight: 600; }

-ms-input-placeholder {
  color: #7c878e;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  letter-spacing: 0.05rem;
  font-size: 12.299px;
  font-size: 0.82rem;
  font-weight: 600; }

.modal-content {
  background-color: none;
  border: none; }

.col-third {
  width: 32%; }

.col-half {
  width: 49.2%; }

.col-full {
  width: 100%; }

@media only screen and (max-width: 774px) {
  .col-third {
    width: 100%; } }
@media only screen and (max-width: 560px) {
  .col-half {
    width: 100%; } }
nav {
  background-color: #1676DD;
  height: 60px; }

.nav-image {
  height: 50px;
  width: 175px;
  margin: auto;
  margin-top: 4px; }

/*# sourceMappingURL=Nav.css.map */
