

.grid3 {
  align-items: center; }

.grid3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.title {
  margin-top: 2.5em;
  padding: 5em 0 4em 0;
  text-align: center; }

.title-subtitle1 {
  flex-basis: 48%;
  padding: 4.625em 2.75em 4.625em 12.75em; }

.title-subtitle2 {
  flex-basis: 48%;
  padding: 4.625em 12em 4.625em 3em; }

.section3-lorem {
  width: 80%; }

.img {
  width: 44.063em; }

#section3{
  margin-bottom: 130px;
}

@media (max-width: 560px) {
  .title {
    padding: 1em 0; }

  .title-subtitle1,
  .title-subtitle2 {
    flex-basis: 100%;
    padding: 2em 0;
    margin: 1em; } }
